In [60]:
import json
import requests
from src import utils
import time
import os
import random
import re
import csv

In [9]:
# GSM8K 8792 (7473/1319)
gsm8k_train = '/userhomes/philhoon/kt-ai-challenge/data/openai-gpt-3.5-turbo-0301-2048-0.0-KOR-gsm8k-train.jsonl'

# MWP_KR_DATA 3750
mwp_kr = '/userhomes/philhoon/kt-ai-challenge/data/public_mwp_data_v2_reasoning.jsonl'

# AddSub 395
addsub = '/userhomes/philhoon/kt-ai-challenge/eng_data/kor-D_addsub.json'

# MultiArith 600
multiarith = '/userhomes/philhoon/kt-ai-challenge/eng_data/kor-D_multiarith.json'

# SingleEq 395
single_eq = '/userhomes/philhoon/kt-ai-challenge/eng_data/kor-D_single_eq.json'

In [ ]:
gsm8k_train_data = utils.read_jsonlines(gsm8k_train)
mwp_data = utils.read_jsonlines(mwp_kr)
addsub_data = utils.read_jsonlines(addsub)
multi_data = utils.read_jsonlines(multiarith)
single_data = utils.read_jsonlines(single_eq)

In [ ]:
print(len(gsm8k_train_data))
print(len(mwp_data))

print(len(addsub_data))
print(len(multi_data))
print(len(single_data))

# mwp_kr

In [ ]:
input_file = mwp_kr
print(input_file)

In [ ]:
path = '/userhomes/philhoon/kt-ai-challenge/data/'
output_train = path + re.sub('.json', '-train.json', input_file.split('/')[-1])
output_test = path + re.sub('.json', '-test.json', input_file.split('/')[-1])
print(output_train)
print(output_test)

In [ ]:
train_writer = utils.JSONLWriter(output_train)
test_writer = utils.JSONLWriter(output_test)

In [ ]:
train_data, test_data = random_split_8_2(mwp_data)
print(len(train_data))
print(len(test_data))

In [ ]:
for ins in train_data:
    train_writer.write_json_line(ins)
    
for ins in test_data:
    test_writer.write_json_line(ins)

# AddSub

In [ ]:
input_file = addsub

In [ ]:
print(input_file)

In [ ]:
path = '/userhomes/philhoon/kt-ai-challenge/eng_data/'
output_train = path + re.sub('.json', '-train.json', input_file.split('/')[-1])
output_test = path + re.sub('.json', '-test.json', input_file.split('/')[-1])

In [ ]:
print(output_train)
print(output_test)

In [ ]:
train_writer = utils.JSONLWriter(output_train)
test_writer = utils.JSONLWriter(output_test)

In [ ]:
def random_split_8_2(input_list):
    # Calculate the sizes of the two splits
    total_length = len(input_list)
    split_1_size = int(0.8 * total_length)
    split_2_size = total_length - split_1_size

    # Randomly sample the elements for each split
    split_1 = random.sample(input_list, split_1_size)
    split_2 = [item for item in input_list if item not in split_1]

    return split_1, split_2

In [ ]:
print(len(addsub_data))

In [ ]:
train_data, test_data = random_split_8_2(addsub_data)
print(len(train_data))
print(len(test_data))

In [ ]:
for ins in train_data:
    train_writer.write_json_line(ins)
    
for ins in test_data:
    test_writer.write_json_line(ins)

# multi

In [ ]:
input_file = multiarith
print(input_file)

In [ ]:
path = '/userhomes/philhoon/kt-ai-challenge/eng_data/'
output_train = path + re.sub('.json', '-train.json', input_file.split('/')[-1])
output_test = path + re.sub('.json', '-test.json', input_file.split('/')[-1])
print(output_train)
print(output_test)
train_writer = utils.JSONLWriter(output_train)
test_writer = utils.JSONLWriter(output_test)

In [ ]:
train_data, test_data = random_split_8_2(multi_data)
print(len(train_data))
print(len(test_data))

In [ ]:
for ins in train_data:
    train_writer.write_json_line(ins)
    
for ins in test_data:
    test_writer.write_json_line(ins)

# single

In [ ]:
input_file = single_eq
print(input_file)

In [ ]:
path = '/userhomes/philhoon/kt-ai-challenge/eng_data/'
output_train = path + re.sub('.json', '-train.json', input_file.split('/')[-1])
output_test = path + re.sub('.json', '-test.json', input_file.split('/')[-1])
print(output_train)
print(output_test)
train_writer = utils.JSONLWriter(output_train)
test_writer = utils.JSONLWriter(output_test)

In [ ]:
train_data, test_data = random_split_8_2(single_data)
print(len(train_data))
print(len(test_data))

In [ ]:
for ins in train_data:
    train_writer.write_json_line(ins)
    
for ins in test_data:
    test_writer.write_json_line(ins)

In [ ]:
kor-D_addsub-test.json
kor-D_addsub-train.json
kor-D_multiarith-test.json
kor-D_multiarith-train.json
kor-D_single_eq-test.json
kor-D_single_eq-train.json

# Merge (Train/Test)

In [1]:
output_train = '/userhomes/philhoon/kt-ai-challenge/final_data/train.csv'
output_test = '/userhomes/philhoon/kt-ai-challenge/final_data/train.jsonl'

In [58]:
def save_csv_file(file_path, sentence_a_list, sentence_b_list):
    with open(file_path, 'w', newline='', encoding='utf-8') as csv_file:
        writer = csv.writer(csv_file)
        for sentence_a, sentence_b in zip(sentence_a_list, sentence_b_list):
            writer.writerow([sentence_a, sentence_b])

In [3]:
path = '/userhomes/philhoon/kt-ai-challenge/final_data'

file_lst = [
    'kor-D_addsub-train.json',
    'kor-D_multiarith-train.json',
    'kor-D_single_eq-train.json',
    'openai-gpt-3.5-turbo-0301-2048-0.0-KOR-gsm8k-train.jsonl',
    'public_mwp_data_v2_reasoning-train.jsonl'
]

In [4]:
# def get_prompt(ques, answer):
#     ques = f"질문: {ques}"
#     answer = f"{answer}"
#     return ques, answer

## Merge Train

In [10]:
data_lst = []

In [11]:
addsub_data = utils.read_jsonlines('/userhomes/philhoon/kt-ai-challenge/final_data/kor-D_addsub-train.json')
print(len(addsub_data))

316

In [12]:
for ins in addsub_data:
    temp = {}
    if 'kor_question' in ins:
        temp['input'] = ins['kor_question']
    if 'kor_answer' in ins:
        temp['output'] = ins['kor_answer']
    if 'answer' in ins:
        temp['answer'] = ins['answer']
    data_lst.append(temp)

In [13]:
data_lst[-1]

{'input': '한 휴대전화 회사는 전 세계에 총 7422명의 고객을 보유하고 있습니다. 만약 그 중 723명의 고객이 미국에 거주한다면, 다른 나라에는 몇 명의 고객이 거주하고 있는지 알 수 있을까요?',
 'output': '전 세계에는 총 7422명의 고객이 있습니다. 그 중 723명이 미국에 거주하는 것으로 알려져 있습니다. 따라서 나머지 고객들은 다른 나라에 거주하고 있습니다. 따라서 다른 나라에 거주하는 고객의 수는 7422 - 723 = 6,699명입니다.',
 'answer': '6699.0'}

In [14]:
print(len(data_lst))

316

In [15]:
multi_data = utils.read_jsonlines('/userhomes/philhoon/kt-ai-challenge/final_data/kor-D_multiarith-train.json')
print(len(multi_data))

480

In [16]:
for ins in multi_data:
    temp = {}
    if 'kor_question' in ins:
        temp['input'] = ins['kor_question']
    if 'kor_answer' in ins:
        temp['output'] = ins['kor_answer']
    if 'answer' in ins:
        temp['answer'] = ins['answer']
    data_lst.append(temp)

In [17]:
data_lst[-1]

{'input': '케이티는 차고 세일에서 목걸이를 팔았습니다. 그녀는 구슬 목걸이 4개와 보석 목걸이 3개를 팔았습니다. 각 목걸이의 가격은 3달러이므로, 그녀는 얼마나 많은 돈을 벌었을까요?',
 'output': '첫째, 케이티는 구슬 목걸이 4개를 팔았습니다. 구슬 목걸이 판매로 얼마의 돈을 벌었나요? 둘째, 케이티는 보석 목걸이 3개를 팔았습니다. 보석 목걸이 판매로 얼마의 돈을 벌었나요? 셋째, 케이티는 총 4개의 구슬 목걸이와 3개의 보석 목걸이를 팔았습니다. 모든 목걸이 판매로 얼마의 돈을 벌었나요? 케이티는 목걸이 판매로 12달러를 벌었습니다.',
 'answer': '21'}

In [18]:
print(len(data_lst))

796

In [19]:
single = utils.read_jsonlines('/userhomes/philhoon/kt-ai-challenge/final_data/kor-D_single_eq-train.json')
print(len(single))

406

In [20]:
for ins in single:
    temp = {}
    if 'kor_question' in ins:
        temp['input'] = ins['kor_question']
    if 'kor_answer' in ins:
        temp['output'] = ins['kor_answer']
    if 'answer' in ins:
        temp['answer'] = ins['answer']
    data_lst.append(temp)

In [21]:
data_lst[-1]

{'input': '힐트 여사는 1달러 30센트에 노트북을 샀습니다. 그녀는 니켈로 지불했습니다. 그녀는 몇 개의 니켈을 사용해서 노트북을 샀을까요?',
 'output': '먼저, 우리는 Mrs. Hilt가 니켈로 노트북을 얼마나 지불했는지 알아야 합니다. 우리는 Mrs. Hilt가 노트북에 $1.30을 지불했다는 것을 알고 있습니다. 또한 1달러에는 5개의 니켈이 있다는 것을 알고 있습니다. 즉, Mrs. Hilt는 지출한 달러 당 5개의 니켈을 지불했습니다. Mrs. Hilt가 노트북에 $1.30을 지출했으므로, 그녀는 노트북에 5개의 니켈 x 1.30 달러 = 6.50개의 니켈을 지불했을 것입니다. 따라서,',
 'answer': '26.0'}

In [22]:
print(len(data_lst))

1202

In [23]:
gsm8k = utils.read_jsonlines('/userhomes/philhoon/kt-ai-challenge/final_data/openai-gpt-3.5-turbo-0301-2048-0.0-KOR-gsm8k-train.jsonl')
print(len(gsm8k))

7473

In [24]:
for ins in gsm8k:
    temp = {}
    if 'kor_question' in ins:
        temp['input'] = ins['kor_question']
    if 'kor_answer' in ins:
        temp['output'] = ins['kor_answer']
    if 'answer' in ins:
        temp['answer'] = ins['answer_s']
    data_lst.append(temp)

In [25]:
data_lst[-1]

{'input': '30살인 아니카는 매디의 나이의 4/3입니다. 15년 후에 그들의 평균 나이는 얼마일까요?',
 'output': '애니카가 지금 30살이라면, 15년 후에는 30+15=45살이 됩니다.\n애니카가 30살일 때, 매디의 나이는 4/3*30=40살입니다.\n15년 후에 매디는 40+15=55살이 됩니다.\n15년 후, 두 사람의 총 연령은 55+45=100살입니다.\n15년 후, 두 사람의 평균 연령은 100/2=50살입니다.',
 'answer': '50'}

In [26]:
print(len(data_lst))

8675

In [27]:
mwp_d = utils.read_jsonlines('/userhomes/philhoon/kt-ai-challenge/final_data/public_mwp_data_v2_reasoning-train.jsonl')
print(len(mwp_d))

3000

In [28]:
for ins in mwp_d:
    temp = {}
    if 'question' in ins:
        temp['input'] = ins['question']
    if 'reason' in ins:
        temp['output'] = ins['reason']
    if 'answer' in ins:
        temp['answer'] = ins['answer']
    data_lst.append(temp)

In [29]:
data_lst[-1]

{'input': '과일 농장에 여섯 개의 밭이 있습니다. 1번 밭에는 사과가 4개, 2번 밭에는 포도가 20개, 3번 밭에는 포도가 70개, 4번 밭에는 감이 23개, 5번 밭에는 감이 45개, 6번 밭에는 사과가 50개 있습니다. 전체 밭에서 포도의 개수는 몇 개인지 구하세요.',
 'output': '풀이: 2번 밭에는 포도가 20개, 3번 밭에는 포도가 70개 있으므로, 포도의 총 개수는 20개 + 70개 = 90개입니다.',
 'answer': '90'}

In [41]:
print(len(data_lst))

11675

In [42]:
import random
random.seed(42)


shuffled_list = data_lst.copy()

# Shuffle the copy
random.shuffle(shuffled_list)

In [43]:
output_train = '/userhomes/philhoon/kt-ai-challenge/final_data/train_merged.jsonl'

In [45]:
train_writer = utils.JSONLWriter(output_train)

In [49]:
# data_lst[0]

In [50]:
# for ins in shuffled_list:
#     train_writer.write_json_line(ins)

In [48]:
# shuffled_list[0]

{'input': '니나는 자녀들에게 선물을 주고 싶어합니다. 그녀는 각각 $10에 세 개의 장난감, 각각 $5에 두 개의 농구 카드 팩, 그리고 각각 $6에 다섯 개의 셔츠를 구입합니다. 그녀는 모두 얼마나 지출하나요?',
 'output': '세 개의 장난감은 3 x $10 = $30 입니다.\n농구 카드 두 팩은 2 x $5 = $10 입니다.\n그리고, 다섯 개의 셔츠는 5 x $6 = $30 입니다.\n그러므로, 니나는 모두 $30 + $10 + $30 = $70을 쓰게 됩니다.',
 'answer': '70'}

In [51]:
input_lst = []
output_lst = []

In [52]:
output_csv = '/userhomes/philhoon/kt-ai-challenge/final_data/train_merged.csv'

In [53]:
data_lst[0]

{'input': '마이크는 123개의 오렌지를 골랐고, 멜라니는 104개의 오렌지를 골랐습니다. 프레드는 130개의 사과를 골랐습니다. 총 몇 개의 오렌지가 골라졌을까요?',
 'output': '마이크는 123개의 오렌지를 골랐습니다. 멜라니는 104개의 오렌지를 골랐습니다. 총 몇 개의 오렌지가 골라졌을까요? 답은 227개입니다.',
 'answer': '227'}

In [40]:
def get_gsm8k_zs3(que):
    prompt = f'다음 질문에 차근차근 답하시오. {que}'
    return prompt

In [55]:
for ins in shuffled_list:
    question = get_gsm8k_zs3(ins['input'])
    answer = ins['output']
    input_lst.append(question)
    output_lst.append(answer)

In [57]:
print(len(input_lst))
print(len(output_lst))

11675
11675

In [61]:
save_csv_file(output_csv, input_lst, output_lst)